parameters:
    paths:
        - Plugin.php
        - routes.php
        - classes
    level: 5
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanDirectories:
        - ../../../modules/system
        - ../../../modules/backend
        - ../../../modules/cms
    treatPhpDocTypesAsCertain: false
